<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Register</title>
	<!-- Mobile Specific Metas -->
    <style>
        body{
            background-repeat: no-repeat;
            background-size: 100% 200% ;

        }

        .page-content{
           /* margin-top: -30%;*/
        }

    </style>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="../static/css/nunito-font.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="../static/css/style1.css" th:href="@{css/style1.css}" />
<!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" th:href="@{assets/css/bootstrap.min.css}"rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/style.css" th:href="@{assets/css/style.css}"rel="stylesheet">
    <link href="../static/assets/css/responsive.css"th:href="@{assets/css/responsive.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body th:style=" 'background-image: url(images/cover1.jpeg)'">
<script th:inline="javascript">
    var erMs = [[${session.errMsg}]];
    if(erMs != null)
        window.alert(erMs);

    var ms = [[${session.msg}]];
    if(ms != null)
        window.alert(ms);
</script>

<header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                   
                    <a style="color: red" class="site-title"><span>Blood Bank Management System</span></a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a style="font-weight:bold;color: red" href="index.html" data-toggle="dropdown">Home</a></li>
                        </li>
                        <li><a style= "font-weight:bold;color: red"  href="">Donor</a></li>
                        <li><a style="font-weight: bold;color: red" href="">Patient</a></li>
                        <li><a style="font-weight:bold;color: red" th:href="@{/login}">Login</a></li>
                  </ul><br>
<!--<h2>Blood Bank Management System</h2>-->
                    </div>

            </div>   
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->

	<div class="page-content">

		<div class="form-v9-content" th:style=" 'background-image: url(images/form-v9.jpg)'" th:action="@{/register}" th:object="${usersModel}">

			<form class="form-detail" action="#" method="post">
				<h2><font color="white">Registration Form</font></h2>
				<div class="form-row-total">
					<div class="form-row">
						<input type="text" name="fullName" id="full-name" class="input-text" placeholder="Your Name" required>
					</div>
					<div class="form-row">
						<input type="text" name="email" id="your-email" class="input-text" placeholder="Your Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
					</div>
				</div>
				<div class="form-row-total">
					<div class="form-row">
						<input type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>
					</div>
					<div class="form-row">
						<input type="text" name="address" id="address" class="input-text" placeholder="address" required>
					</div>
				</div>
				<div class="form-row-last">
					<input type="submit"  name="register" class="register" value="Register">
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>